.blog {
  padding: 0 4rem 5rem 4rem;
  min-width: 480px;
  max-width: 800px;
  margin: 0 auto;
}

.blog .hidden {
  display: none;
}

/* header */
.blog header.main_header {
  font-size: 0;
}

.blog .main_header .user_info {
  padding: 0.5rem 0 0.4rem 0;
  margin-right: -3.6rem;
  text-align: right;
  font-size: 0.8rem;
  font-weight: 400;
  color: rgb(150, 150, 150);
}

.blog .main_header .blog_info {
  padding: 6rem 4rem;
  margin: 0rem -4rem 1.5rem -4rem;
  border-radius: 0.25rem;
  background-color: rgb(200, 200, 200);
}

.blog .main_header .blog_info h2 {
  margin-bottom: 1rem;
  font-weight: 400;
  color: rgb(60, 60, 60);
}

.blog .main_header .blog_info .description {
  margin-bottom: 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  color: rgb(100, 100, 100);
}

.blog .main_header .blog_info .nickname {
  font-size: 0.8rem;
  font-weight: 400;
  color: rgb(89, 141, 145);
}

/* article */
.blog article {
  padding: 2rem 2rem;
  border-radius: 0.75rem;
  border: solid 1px rgb(200, 200, 200);
}

.blog article header {
  padding: 0;
}

.blog article header.post_info {
  margin-bottom: 2.5rem;
  font-size: 0;
  height: fit-content;
}

.blog article header.post_info .title {
  margin-bottom: 1rem;
  font-size: 1.75rem;
  font-weight: 400;
  color: rgb(80, 80, 80);
}

.blog article header.post_info .created_time {
  font-size: 0.9rem;
  font-weight: 400;
  color: rgb(150, 150, 150);
}

.blog article main.post_context {
  padding: 0 0.1rem;
  color: rgb(85, 85, 85);
}
