.browse {
  padding: 0px 6rem;
  min-width: 480px;
  max-width: 800px;
  margin: 0 auto;
}

.browse header {
  padding: 4rem 0;
  font-size: 4rem;
  font-weight: 700;
}

.browse main .nav-tabs .nav-link {
  cursor: pointer;
}

.browse section {
  padding-top: 2rem;
  padding-bottom: 4rem;
}
