.join {
    padding: 0px 6rem;
    min-width: 480px;
    max-width: 800px;
    margin: 0 auto;
}

.join header {
    padding: 4rem 0;
    font-size: 4rem;
    font-weight: 700;
}

.join .form-group {
    padding-bottom: 1rem;
}

.join .input_counter {
    font-size: 0.8rem;
    color: rgb(150, 150, 150);
}

.join .validity {
    font-size: 0.8rem;
}

.join .validity.valid {
    color: rgb(87, 179, 87);
}

.join .validity.invalid {
    color: rgb(224, 106, 106);
}

.join .validity.unchecked {
    color: rgb(150, 150, 150);
}

.join .input_with_button {
    display: flex !important;
}

.join .input_with_button button {
    margin-left: 1rem;
    width: 7rem;
}

.join .submit_btn_area {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
}

.join .submit_btn_area * {
    width: 6rem;
}