.blog header.main_header {
  font-size: 0;
}

.blog .main_header .user_info {
  padding: 0.5rem 0 0.4rem 0;
  margin-right: -3.6rem;
  text-align: right;
  font-size: 0.8rem;
  font-weight: 400;
  color: rgb(150, 150, 150);
}

.blog .main_header .blog_info {
  padding: 6rem 4rem;
  margin: 0rem -4rem 1rem -4rem;
  border-radius: 0.25rem;
  background-color: rgb(200, 200, 200);
}

.blog .main_header .blog_info h2 {
  margin-bottom: 1rem;
  font-weight: 400;
  color: rgb(60, 60, 60);
}

.blog .main_header .blog_info .description {
  margin-bottom: 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  color: rgb(100, 100, 100);
}

.blog .main_header .blog_info .nickname {
  font-size: 0.8rem;
  font-weight: 400;
  color: rgb(89, 141, 145);
}
