.category_selection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: -0.4rem;
}

.category_selection>* {
  align-self: center;
  margin-top: 0.4rem;
}

.category_selection>*:not(:last-child) {
  margin-right: 0.3rem;
}

.category_selection .badge {
  position: relative;
  padding: 0.35rem 0.8rem;
  background-color: transparent;
  font-weight: 500;
  font-size: 0.8rem;
  border-radius: 1rem;
  cursor: pointer;
}

.category_selection .badge.disabled {
  border: 1px solid rgb(243, 243, 243);
  color: rgb(243, 243, 243);
  cursor: default;
}

.category_selection .badge.editing {
  cursor: default;
}

.category_selection .all_button {
  border: 1px solid rgb(112, 166, 170);
  color: rgb(112, 166, 170);
}

.category_selection .all_button:hover {
  background-color: rgb(219, 238, 240);
}

.category_selection .all_button.active {
  background-color: rgb(112, 166, 170);
  color: white;
}

.category_selection .category_button {
  border: 1px solid rgb(200, 200, 200);
  color: rgb(200, 200, 200);
}
.category_selection .category_button:not(.disabled):hover {
  background-color: rgb(243, 243, 243);
}

.category_selection .category_button.active {
  background-color: rgb(200, 200, 200);
  color: white;
}

.category_selection .icon {
  color: rgb(200, 200, 200);
  cursor: pointer;
}

.category_selection .icon:not(.disabled):hover {
  color: rgb(150, 150, 150);
}

.category_selection .icon.plus {
  color: rgb(200, 200, 200);
}

.category_selection .icon.plus:not(.disabled):hover {
  color: rgb(150, 150, 150);
}

.category_selection .icon.x {
  color: rgb(218, 189, 189);
}

.category_selection .icon.x:not(.disabled):hover {
  color: rgb(199, 160, 160);
}

.category_selection .icon.delete {
  position: absolute;
  padding: 0.15rem;
  width: 1.1rem;
  height: 1.1rem;
  top: -8px;
  right: -6px;
  border-radius: 50%;
  background-color: rgb(218, 189, 189);
  color: white;
}

.category_selection .icon.delete:not(.disabled):hover {
  background-color: rgb(199, 160, 160);
  color: white;
}

.category_selection .icon.delete.disabled {
  background-color: rgb(235, 223, 223);
  cursor: default;
}

.category_selection .icon.disabled {
  color: rgb(243, 243, 243);
  cursor: default;
}