.category_selection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: -0.4rem;
}

.category_selection>* {
  align-self: center;
  margin-top: 0.4rem;
}

.category_selection>*:not(:last-child) {
  margin-right: 0.3rem;
}

.category_selection .badge {
  position: relative;
  padding: 0.35rem 0.8rem;
  background-color: transparent;
  font-weight: 500;
  font-size: 0.8rem;
  border-radius: 1rem;
  cursor: pointer;
}

.category_selection .category_button.disabled {
  border: 1px solid rgb(243, 243, 243);
  color: rgb(243, 243, 243);
  cursor: default;
}

.category_selection .category_button.editing {
  cursor: default;
}

.category_selection .all_button {
  border: 1px solid rgb(112, 166, 170);
  color: rgb(112, 166, 170);
}

.category_selection .all_button:hover {
  background-color: rgb(219, 238, 240);
}

.category_selection .all_button.active {
  background-color: rgb(112, 166, 170);
  color: white;
}

.category_selection .category_button {
  border: 1px solid rgb(200, 200, 200);
  color: rgb(200, 200, 200);
}

.category_selection .category_button.editable {
  border-style: dotted;
}

.category_selection .category_button:not(.adding):not(.editing):not(.disabled):hover {
  background-color: rgb(243, 243, 243);
}

.category_selection .category_button:not(.adding):not(.editing).active {
  background-color: rgb(200, 200, 200);
  color: white;
}

.category_selection .category_button.addable {
  border-color: rgb(112, 166, 170);
  color: rgb(112, 166, 170);
}

.category_selection .category_button.addable.disabled {
  border-color: rgb(243, 243, 243);
  color: rgb(243, 243, 243);
  cursor: default;
}

.category_selection .category_button.addable:not(.adding):not(.editing):not(.disabled):hover {
  background-color: rgb(219, 238, 240);
}

.category_selection .category_button.addable.addable_type.adding {
  background-color: rgb(112, 166, 170);
  color: white;
}

.category_selection .category_button.addable.addable_type:not(.adding):not(.editing):not(.disabled):hover {
  background-color: rgb(229, 241, 241);
}

.category_selection .category_button input {
  margin: -0.35rem 0.3rem -0.35rem 0;
  border: none;
  background: none;
  color: rgb(200, 200, 200);
}

.category_selection .category_button input:focus {
  outline: none;
}

.category_selection .category_button.category_button.addable input {
  color: rgb(112, 166, 170);
}

.category_selection .category_button.category_button.addable.addable_type input {
  color:white;
}

.category_selection .icon {
  color: rgb(200, 200, 200);
  cursor: pointer;
}

.category_selection .icon:not(.disabled):hover {
  color: rgb(150, 150, 150);
}

.category_selection .icon.plus {
  color: rgb(173, 204, 170);
}

.category_selection .icon.plus:not(.disabled):hover {
  color: rgb(118, 148, 116);
}

.category_selection .icon.x {
  width: 0.8rem;
}

.category_selection .icon.delete {
  position: absolute;
  padding: 0.15rem;
  width: 1.1rem;
  height: 1.1rem;
  top: -8px;
  right: -6px;
  border-radius: 50%;
  background-color: rgb(200, 200, 200);
  color: white;
  transform: scale(0, 0);
  transition: 100ms;
}

.category_selection .category_button:not(.disabled):hover .icon.delete {
  transform: scale(1, 1);
}

.category_selection .icon.delete:not(.disabled):hover {
  background-color: rgb(150, 150, 150);
  color: white;
}

.category_selection .icon.delete.disabled {
  background-color: rgb(243, 243, 243);
  cursor: default;
}

.category_selection .icon.disabled {
  color: rgb(243, 243, 243);
  cursor: default;
}