.create_modal .modal-header {
  border-width: 0;
}

.create_modal .modal-footer {
  border-width: 0;
  justify-content: space-between;
}

.create_modal .input_len {
  float: right;
  font-size: 0.75rem;
  color: rgb(165, 165, 165);
}