.blog .post {
  padding: 3rem 2rem;
  border-radius: 0.75rem;
  border: solid 1px rgb(200, 200, 200);
}

.blog .post header {
  padding: 0;
}

.blog .post header.post_info {
  margin-bottom: 2.5rem;
  font-size: 0;
  height: fit-content;
}

.blog .post header.post_info .title {
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
  font-weight: 400;
  color: rgb(80, 80, 80);
}

.blog .post header.post_info span {
  font-size: 0.85rem;
  font-weight: 400;
}

.blog .post header.post_info .created_time {
  color: rgb(150, 150, 150);
}
.blog .post header.post_info .updated_time {
  color: rgb(192, 192, 192);
}

.blog .post main.post_context {
  padding: 0 0.1rem;
  color: rgb(85, 85, 85);
}