.user_header {
  position: absolute;
  z-index: 10;
  top: 0.5rem;
  right: 1.5rem;
  text-align: right;
  font-size: 0.8rem;
  font-weight: 400;
  color: rgb(150, 150, 150);
}

.user_header .toggle {
  cursor: pointer;
}

.user_header .toggle:hover {
  color: rgb(100, 100, 100);
}

.user_header .toggle:focus {
  outline: none;
  box-shadow: none;
}

.user_header .dropdown-menu {
  margin-top: 0.5rem;
  border-color: rgb(220, 220, 220);
  border-radius: 0.25rem;
  min-width: 4rem;
}

.user_header .dropdown-item {
  padding: 0.15rem 0.8rem;
  color: rgb(150, 150, 150);
  font-size: 0.75rem;
}

.user_header .dropdown-item:hover {
  color: rgb(200, 200, 200);
  background: none;
}

.user_header .dropdown-item:focus {
  outline: none;
}